*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

html,body{
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

header{
	background-color: #c0273c;
}

ul .nav-item1{
	font-weight: 600;
	font-size: 20px;
	margin-right: 15%;
	margin-left: -20%;
}

ul .nav-item2{
	margin-top: 0.3%;
	margin-right: 3%;
}

ul .nav-item3{
	margin-top: 0.3%;
	margin-right: 3%;
}

ul .nav-item4{
	margin-top: 0.3%;
	margin-right: 3%;
}

ul .nav-item5{
	margin-top: 0.3%;
	margin-right: 3%;
}

div .body1{
	margin-top: 15%;
}
 
.media img{
	float: right;
	width: 14%;
	height: auto;
	position: relative;
    margin-top: 10%;
    margin-right: 22%;
}

div .col-4{
	padding-right: 22%;
	width: 85%;
	text-align: left;
	margin-top: 22%;
    margin-left: 52%;
    color: #757575;
}

div .col-4 h2{
	font-weight: 600;
	color: #c0273c;
}

div .col-5 {
	margin-top: 15%;
	margin-right: 50%;
	margin-left: 55%;
	text-align: center;
	color: #757575;
}

div .col-5 h2{
	font-weight: 600;
	color: #c0273c;
}

div .card-img-top{
	width: 65%;
	height: auto;
}

div .card-text{
	margin-top: -18%;
	margin-right: -19%;
}

div .card-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 83%;
	margin-left: 100px;
}

div .card{
	margin: 12px;
	border: none;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

div .card2{
	margin: 12px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

div .card3{
	margin: 12px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

div .card4{
	margin: 12px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

div .card5{
	margin: 12px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

div .card6{
	margin: 12px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

div .card7{
	margin: 12px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

div .card8{
	margin: 12px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

div .card p{
	margin-left: 5%;
	font-weight: 600;
	color: #000000;
}

div .card2 p{
	margin-left: 5%;
	font-weight: 600;
	color: #000000;
}

div .card3 p{
	margin-left: 5%;
	font-weight: 600;
	color: #000000;
}

div .card4 p{
	margin-left: 5%;
	font-weight: 600;
	color: #000000;
}

div .card5 p{
	margin-left: 5%;
	font-weight: 600;
	color: #000000;
}

div .card6 p{
	margin-left: 5%;
	font-weight: 600;
	color: #000000;
}

div .card7 p{
	margin-left: 5%;
	font-weight: 600;
	color: #000000;
}

div .card8 p{
	margin-left: 5%;
	font-weight: 600;
	color: #000000;
}

div .img-fluid{
	width: 45%;
	height: auto;
	margin-top: 7%;
	margin-left: 12%;
}

.container2{
	background-color: #fafafa;
	border:1px solid #fafafa;
	border-radius: 18px;
	display: flex;
	flex-wrap: wrap;
}

div .textcol{
	background-color: #fafafa;
	text-align: right;
	margin-left: 35%;
	margin-top: 45%;
}

.textcol h3{
	color: #c0273c;
	font-weight: 600;
}

.textcol p{
	color: #8b8b8b;
	font-weight: 400;
	font-size: 16px;
}

.container2 .img-fluid{
	background-color: #fafafa;
}

div .textr2 {
	margin-top: 5%;
	margin-right: 3%;
	text-align: center;
	color: #757575;
}

div .textr2 h2{
	font-weight: 600;
	color: #c0273c;
}

div .card-container2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 95%;
}

div .card1ic{
	text-align: center;
	margin: 12px;
	border: none;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

div .card2ic{
	text-align: center;
	margin: 12px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

div .card3ic{
	text-align: center;
	margin: 12px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

div .card-textic{
	margin-right: -5%;
}

.container3 h6{
	color: #000000;
	font-weight: 600;
}

.container3 p{
	color: #bcbcbc;
	font-weight: 400;
}

.container4{
	margin-top: 4%;
	display: flex;
	flex-wrap: wrap;
}

.container4 img{
	width: 28%;
	height: auto;
}

div .imagem1{
	margin-top: 16%;
	margin-left: 6%;
}

div .imagem2{
	margin-bottom: 13%;
	margin-left: -23%;
	height: 100%;
}

div .imagem3{
	margin-top: 1.5%;
	margin-left: -13%;
	height: 100%;
}


.textco2 h3{
	color: #c0273c;
	font-weight: 600;
}

.textco2 p{
	color: #8b8b8b;
	font-weight: 400;
	font-size: 16px;
}

div .textco2{
	margin-top: 24%;
	margin-left: 12%;
}

.container5{
	background-color: #fafafa;
}

.container5 img{
	width: 43%;
	margin-left: 48%;
    margin-top: -24%;
}

div .textco3{
	margin-top: 27%;
    margin-left: 15%;
}

.textco3 h3{
	color: #c0273c;
	font-weight: 600;
}

.textco3 p{
	color: #8b8b8b;
	font-weight: 400;
	font-size: 16px;
}

.container6{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-top: -5%;
}

.container6 img{
	width: 28%;
	height: 20%;
	margin-right: -18%;
	margin-left: -6%;
    margin-top: 16%;
}

.container6 form{
	width: 28%;
	margin-left: 30%;
	margin-top: 12%;
}

div .form-control{
	border: 1px solid #b9b9b9;
	border-radius: none;
	border-top: none;
	border-right: none;
	border-left: none;
}

.form-group label{
	color: #757575;
}

.container6 button{
	text-align: center;
	width: 100%;
	border-radius: 22px;
	border-color: #c0273c;
	background-color: #c0273c;
	text-decoration: none;
	cursor: pointer;
	transition: 0.6s;
}

.container6 button:hover {
	background-color: #c0273c;
	color: white;
	opacity: 4;
}

.container6 h2{
	margin-bottom: 15%;
	color: #c0273c;
}

.footer{
	background-color: #fafafa;
	width: 100%;
	height: 180px;
}

.footer img{
	width: 2%;
	height: 2%;
	margin-left: 94%;
	margin-bottom: 3%;
	margin-top: -2.5%;
}


.footer a{
	color: #c0273c;
	text-decoration: none;
	font-weight: 600;
	margin-left: 15.2%;
	margin-top: 2%;
}



@media screen and (max-width: 900px){
	.media img{
		display: none;
	}

	div .card-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;
	margin-left: 100px;
}

	div .col-4{
		max-width: none;
		width: 120%;
		text-align: center;
		float: none;
		margin: 100px 0;
	}

	div .col-5{
		max-width: none;
		width: 100%;
		text-align: center;
		float: none;
		margin: 100px 0;
	}

	div .textcol{
		max-width: none;
		width: 100%;
		margin: 50px 0;
		text-align: center;
	}

	.row{
		width: 100%;
	}

	.container2 img{
		display: none;
	}

	.container4 img{
		display: none;
	}

	div .textco2{
		max-width: none;
		width: 100%;
		text-align: center;
		float: none;
		margin: 100px 0;
	}

	header .nav-item1{
		max-width: none;
		height: 15%;
		width: 100%;
		text-align: center;
		float: none;
		margin: 5px 0;
	}

	.footer {
		max-width: none;
		height: 1%;
		width: 100%;
		text-align: center;
		float: none;
		margin: -8px 0;
	}

	.footer a{
		margin-top: 4%;
		margin-right: 2%;
	}


	.container6 img{
		display: none;
	}

	.container5 img{
		display: none;
	}

	.container6 form{
		width: 100%;
		text-align: center;
		margin: 100px 0;
		float: none;
	}
}